/*En este apartado se realiza todo lo referente a estilos -- */

.calculadora {
    display: block;
    /*Display especifica si un elemento es tratado como block or inline element y el diseño usado por sus hijos, como flow layout(Diseño de Flujo), grid(Cuadricula) o flex(Flexible). */
    margin: 0px auto;
    /* La propiedad CSS display especifica si un elemento es tratado como block or inline element y el diseño usado por sus hijos, como flow layout(Diseño de Flujo), grid(Cuadricula) o flex(Flexible).  */
    padding: 20px;
    /* La propiedad CSS padding establece el espacio de relleno requerido por todos los lados de un elemento. El área de padding es el espacio entre el contenido del elemento y su borde (border). No se permiten valores negativos. */
    background-color: rgb(22, 20, 18);
    /* color del fondo de la pantalla*/
    width: 350px;
    /* ancho de la clase Calculador*/
    height: 500px;
    /* largo de la clase Calculador*/
    border-radius: 25px;
    /* La propiedad CSS border-radius permite a los desarrolladores Web definir qué tan redondeadas serán las esquinas. */
}

.calculadora td button {
    display: block;
    width: 70px;
    height: 70px;
    font-size: 25px;
    text-align: center;
}

#resultado {
    display: block;
    text-align: center;
    font-size: 40px;
    /*tamano de la fuente*/
    margin-bottom: 50px;
    width: 300px;
    height: 100px;
    line-height: 100px;
    /* Comúnmente se usa para establecer la distancia entre líneas de texto. A nivel de elementos de bloque, define la altura mínima de las casillas encuadradas por líneas dentro del elemento.  */
    background-color: white;
    border-radius: 25px;
    /* permite redondear los bordes de una imagen cuadrada*/
    overflow-y: scroll;
    /* La propiedad CSS overflow-y define qué se debe mostrar cuando el contenido se desborda de los extremos superior e inferior de un elemento en bloque.*/
}


/*ids are unique

    Each element can have only one id
    Each page can have only one element with that id

classes are NOT unique

    You can use the same class on multiple elements.
    You can use multiple classes on the same element.
 */